@use "../../abstracts" as ab;

.card {
	background-color: rgba(ab.$background-dark3, 0.7);
	border-radius: 0.8em;
	padding-inline: 0.6em;
	padding-block: 0.4em 0.8em;
	overflow-x: hidden;

	display: flex;
	flex-direction: column;
	gap: 0.4em;

	&-item {
		display: flex;
		gap: 0.6em;

		align-items: center;

		&:first-child {
			display: block;
			text-align: center;
			margin-bottom: 0.5em;

			h2 {
				color: transparent;
				background-image: ab.$bequest-gradient;
				background-clip: text;
				font-size: 1.6rem;
				cursor: context-menu;
				padding-bottom: 0.25em;
			}
		}

		&.message {
			align-items: flex-start;
			// flex-direction: column;
			gap: 0.5em;
			margin-bottom: 0.3em;

			p {
				max-height: 8rem;
				overflow-y: scroll;
				word-break: break-word;
			}
		}

		&__head {
			cursor: context-menu;
			color: ab.$text-pink;
			text-decoration: underline;
		}

		&__value {
			cursor: context-menu;
			color: ab.$text-golden;

			&.Active {
				color: ab.$active;
				font-weight: 600;
			}

			&.bold {
				font-weight: 600;
			}

			&.Inactive,
			&.Failed {
				color: ab.$error;
				font-weight: 600;
			}

			&.Success {
				color: ab.$success;
				font-weight: 600;
			}
		}

		a {
			cursor: pointer;
			transition: color 0.3s ease-in;

			&:hover {
				color: ab.$text-pink;
			}
		}
	}

	&-button {
		margin-top: 1em;

		button {
			border: none;
			outline: none;
			padding-inline: 1em;
			padding-block: 0.2em;
			border-radius: 1.5em;
			cursor: pointer;
			color: ab.$text-primary;
			font-weight: 500;
			font-size: 1.1rem;

			text-decoration: underline transparent;

			transition: text-decoration-color 0.3s ease-in,
				background-color 0.3s ease-in;

			&:hover {
				text-decoration-color: ab.$text-primary;
			}

			&:disabled {
				cursor: not-allowed;
				text-decoration-color: transparent;
			}
		}

		&__change {
			background-color: ab.$button-primary;

			&:hover {
				background-color: lighten(ab.$button-primary, 10);
			}

			&:active {
				background-color: darken(ab.$button-primary, 10);
			}

			&:disabled {
				background-color: lighten(ab.$button-primary, 10);
				text-decoration-color: transparent;
			}
		}

		&__stop {
			background-color: ab.$error;

			&:hover {
				background-color: lighten(ab.$error, 10);
			}

			&:active {
				background-color: darken(ab.$error, 10);
			}

			&:disabled {
				background-color: lighten(ab.$error, 10);
				text-decoration-color: transparent;
			}

			&.Inactive {
				background-color: ab.$success;

				&:hover {
					background-color: lighten(ab.$success, 10);
				}

				&:active {
					background-color: darken(ab.$success, 10);
				}
			}
		}
	}
}
