@use "../../abstracts" as ab;

.create-will {
	&.relative {
		position: relative;
	}

	&__head {
		user-select: none;
		color: ab.$text-pink;
		text-decoration: underline;
		font-size: clamp(1.3rem, 4vw, 1.6rem);
	}

	.metamask-details {
		display: flex;
		flex-direction: column;
		gap: 0.4em;

		div {
			display: flex;
			align-items: flex-end;
			gap: 0.8em;

			p {
				font-weight: 500;
				color: ab.$text-golden;
				user-select: none;
				font-size: 1.1rem;
			}

			img {
				width: 8rem;

				&.goerli {
					width: 3.5rem;
				}
			}
		}

		@include ab.screen-40 {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__token {
		margin-block: 1em;
		display: flex;
		flex-direction: column;
		gap: 1em;

		@include ab.screen-50 {
			flex-direction: row;
		}

		&-list {
			border-radius: 0.6em;

			@include ab.screen-50 {
				width: min(40%, 30rem);
			}

			@include ab.screen-68 {
				width: min(45%, 30rem);
			}

			&__items {
				background-color: ab.$background-dark2;
				overflow-y: hidden;
				overflow-x: scroll;
				display: flex;
				min-height: 6rem;
				gap: 0.6em;

				border-radius: 0.6em;
				padding-block: 1.4em;
				padding-inline: 1em;

				&.column {
					flex-direction: column;

					h3 {
						margin-bottom: auto;
						margin-inline: auto;
					}

					.loader {
						margin-bottom: auto;
					}
				}

				&.flex {
					align-items: flex-start;
					justify-content: center;
				}

				h3 {
					display: none;
					text-decoration: underline;
					color: ab.$text-golden;
					user-select: none;
					width: 100%;
					text-align: center;

					@include ab.screen-50 {
						display: block;
					}

					&.none {
						display: none;
					}
				}

				@include ab.screen-50 {
					flex-wrap: wrap;
					height: 45rem;

					overflow-y: scroll;
					overflow-x: hidden;
					align-items: flex-start;
					justify-content: center;
				}

				& > p {
					font-size: 1.2rem;
					text-align: center;
					text-transform: capitalize;
				}
			}
		}

		&-form {
			width: 100%;

			&__input {
				background-color: ab.$background-dark2;

				border-radius: 0.6em;
				overflow-y: scroll;

				margin-right: auto;
				padding-block: clamp(1.2em, 3vw, 1.6em);
				padding-inline: clamp(0.6em, 2vw, 1.2em);

				@include ab.screen-50 {
					// max-height: 45rem;
					max-height: 45rem;
				}

				h3 {
					background-image: ab.$bequest-gradient;

					font-size: clamp(1.8rem, 4vw, 2.5rem);
					background-clip: text;
					color: transparent;
					text-align: center;

					margin-bottom: 0.5em;
					padding-block: 0 0.4em;

					cursor: context-menu;
				}
			}
		}
	}
}
