@use "../../abstracts" as ab;

.input-form {
	background-color: rgba(ab.$background-dark3, 0.3);
	border-radius: 0.6em;

	padding-inline: clamp(0.4em, 2vw, 1em);
	padding-block: 1.6em;

	display: flex;
	flex-direction: column;
	gap: 1.5em;

	&__item {
		display: flex;
		flex-direction: column;
		position: relative;
		padding-block: 0.4em 0;

		> label {
			position: absolute;
			translate: 0.25em 0.3em;
			color: rgba(ab.$text-primary, 0.7);

			transition: translate 0.3s ease-out, color 0.3s ease-in-out;
			padding-inline: 0.3em;
			padding-block: 0.2em;
		}

		> input {
			background-color: transparent;
			max-width: 100%;

			color: ab.$text-primary;

			padding-block: 0.5em;
			padding-inline: 0.6em 0;

			border: none;
			border-bottom: 0.15em solid ab.$text-primary;

			transition: border-bottom-color 0.4s ease-in-out;

			&:focus {
				outline: none;
				border-bottom-color: ab.$warning;

				& ~ label {
					translate: 0.25em -1.4em;
					color: ab.$text-pink;
				}
			}

			&:valid ~ label {
				translate: 0.25em -1.4em;
				color: ab.$text-pink;
			}

			&[type="date"] {
				color: transparent;

				transition: color 0.3s ease-in;

				&:focus,
				&:valid {
					color: ab.$text-primary;
				}
			}

			&.error {
				border-bottom-color: ab.$error;
			}
		}

		textarea {
			outline: none;
			background-color: transparent;
			border: none;

			padding-block: 0.5em;
			padding-inline: 0.6em 0;

			color: ab.$text-primary;
			border-bottom: 0.15em solid ab.$text-primary;

			resize: vertical;
			min-height: 4rem;
			max-height: 10rem;

			&:focus {
				border-bottom-color: ab.$warning;

				& ~ label {
					translate: 0.25em -1.4em;
					color: ab.$text-pink;
				}
			}

			&:valid ~ label {
				translate: 0.25em -1.4em;
				color: ab.$text-pink;
			}
		}

		.error {
			font-size: 0.9rem;
			color: lighten(ab.$error, 5);
		}
	}

	.input-group {
		gap: 1.2em;
		padding-inline: 0.2em;
		padding-block: 0.2em;

		@include ab.screen-40 {
			flex-direction: row;
			align-items: flex-end;
			gap: 1.8em;
		}

		.input-form__item {
			min-width: 0;
		}

		&__select {
			display: flex;
			flex-direction: column;
			gap: 0.45em;

			label {
				position: static;
				color: ab.$text-pink;
			}

			select {
				background-color: transparent;
				border: none;
				outline: 0.13em solid ab.$text-primary;
				color: ab.$text-primary;
				padding-block: 0.2em;
				padding-inline: 0.6em;
				border-radius: 1.5em;

				&:focus {
					outline-color: ab.$active;
				}

				@include ab.screen-40 {
					padding-inline: 0.6em 1.6em;
				}

				option {
					color: ab.$background-dark1;
				}
			}
		}

		&__checkbox {
			input {
				&:checked ~ label {
					color: ab.$text-pink;
				}

				&:valid {
					color: rgba(ab.$text-primary, 0.7);
				}
			}

			label {
				position: relative;
				color: rgba(ab.$text-primary, 0.7);
				transition: color 0.3s ease-in;
			}
		}

		&__file {
			padding-inline: 0.4em;

			label {
				font-weight: 500;
				color: ab.$text-pink;
				font-size: 1rem;
				text-align: center;
				cursor: pointer;

				transition: color 0.3s ease-in;

				&.file-upload {
					background-color: rgba(ab.$background-dark3, 0.3);
					border-radius: 0.8em;
					padding-block: 0.4em;
					padding-inline: 1.2em;
					color: ab.$text-golden;
				}
			}

			input[type="file"] {
				display: none;
			}

			.error {
				margin-top: 0.4em;
			}
		}
	}

	&__button {
		display: flex;
		flex-direction: column;
		gap: 1.2em;
		margin-top: 1em;

		@include ab.screen-50 {
			flex-direction: row;
			gap: 2em;
		}

		button {
			border: none;
			font-weight: 500;
			font-size: 1.1rem;
			color: ab.$text-primary;
			text-decoration: underline transparent;
			padding-block: 0.4em;
			background-color: ab.$button-primary;
			cursor: pointer;
			border-radius: 1.5em;

			transition: all 0.3s ease-in;

			@include ab.screen-50 {
				padding-inline: 3em;
			}

			&:hover {
				text-decoration-color: ab.$text-primary;
				background-color: lighten(ab.$button-primary, 5%);
			}

			&:active {
				background-color: darken(ab.$button-primary, 5%);
			}

			&.disable {
				cursor: not-allowed;

				color: ab.$text-golden;
				background-color: transparent;
				outline: 0.2em solid ab.$button-primary;

				transition: all 0.3s ease-in;

				&:hover {
					text-decoration-color: transparent;
				}
			}
		}
	}
}
