@use "../../abstracts" as ab;

.view-will {
	background-color: ab.$background-dark2;
	border-radius: 0.8em;
	min-height: 10em;
	padding-inline: 0.8em;
	padding-block: 1em;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(24rem, 100%), 1fr));
	gap: 1em;
	position: relative;

	.lds-ellipsis {
		div {
			@include ab.screen-50 {
				translate: 0 -50%;
			}
		}

		& div:nth-child(1) {
			left: calc(8px + 40%);

			@include ab.screen-50 {
				left: calc(8px + 50%);
			}
		}
		& div:nth-child(2) {
			left: calc(8px + 40%);

			@include ab.screen-50 {
				left: calc(8px + 50%);
			}
		}
		& div:nth-child(3) {
			left: calc(32px + 40%);

			@include ab.screen-50 {
				left: calc(32px + 50%);
			}
		}
		& div:nth-child(4) {
			left: calc(56px + 40%);

			@include ab.screen-50 {
				left: calc(56px + 50%);
			}
		}
	}

	&.center {
		display: flex;
		align-items: center;
		justify-content: center;

		> p {
			font-size: 1.2rem;
			text-align: center;
		}
	}
}
