// background colors
$background-dark1: #171717;
$background-dark2: #212121;
$background-dark3: #413f42;

// text colors
$text-primary: #ededed;
$text-golden: #ffefd6;
$text-pink: #e61d8c;

$active: #ecc489;

$error: #ff3d3d;
$warning: #ffd369;
$success: #4e9f3d;

// button
$button-primary: #d6ae7b;
$button-secondary: #eacda3;

// gradients
$bequest-gradient: linear-gradient(to right, #eacda3, #d6ae7b);

$button-gradient: linear-gradient(
	315deg,
	rgba(101, 0, 94, 1) 3%,
	rgba(60, 132, 206, 1) 38%,
	rgba(255, 25, 25, 1) 98%
);

$card-gradient1: linear-gradient(45deg, #ff928b, #ffac81);
$card-gradient2: linear-gradient(45deg, #eacda3, #d6ae7b);

$planning-card: linear-gradient(45deg, #ffd8cb, #f9d29d);
$violet-gradient: linear-gradient(
	120deg,
	#552586,
	#6a359c,
	#804fb3,
	#9969c7,
	#b589d6
);

// box-shadow
$box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
	rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
