@use "../abstracts" as ab;

.not-found {
	width: min(80rem, 90%);
	margin-inline: auto;
	margin-block: 5em;

	display: flex;
	flex-direction: column;
	gap: 2em;

	@include ab.screen-40 {
		margin-block: 10em;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-evenly;
	}

	img {
		@include ab.screen-40 {
			max-width: clamp(16rem, 30vw, 30rem);
		}
	}

	&__navigate {
		padding-inline: 0.8em;

		h2 {
			font-size: clamp(1.8rem, 6vw, 2.6rem);
			user-select: none;
			margin-block: 1em;
			text-align: center;
			text-decoration: underline;
			color: ab.$text-golden;
		}

		&-links {
			display: flex;
			gap: clamp(0.5em, 2.5vw, 2em);
			align-items: center;
			justify-content: center;

			& > a {
				background-color: ab.$background-dark2;
				color: ab.$text-pink;
				font-size: clamp(1rem, 3vw, 1.3rem);
				border-radius: 0.8em;
				padding-inline: 1.4em;
				padding-block: 0.3em;

				transition: background-color 0.3s ease-in-out;

				&:hover {
					background-color: lighten(ab.$background-dark2, 10%);
				}

				&:active {
					background-color: darken(ab.$background-dark2, 5%);
				}
			}

			.button {
				font-size: clamp(1rem, 3vw, 1.3rem);
			}
		}
	}
}
