@use "../../abstracts" as ab;

.button {
	background-image: ab.$button-gradient;
	animation: gradient 15s ease infinite;
	background-size: 400% 400%;
	border-radius: 0.8em;

	padding-inline: 0.8em;
	padding-block: 0.3em;

	font-weight: 600;
	cursor: pointer;

	outline: none;
	border: none;

	a {
		text-decoration: underline transparent;
		color: ab.$text-primary;

		transition: text-decoration-color 0.3s ease-in-out, color 0.3s ease-in;
	}

	&:hover > a {
		text-decoration-color: ab.$text-golden;
		color: ab.$text-golden;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}
