@use "../../abstracts" as ab;

.contributors {
	width: min(90%, 80rem);

	margin-inline: auto;
	margin-block: 10em;

	&-head {
		text-align: center;
		font-size: clamp(2.2rem, 4vw, 2.8rem);

		margin-bottom: 1em;
	}

	& > div {
		display: flex;
		flex-direction: column;
		gap: 1em;

		> img {
			max-width: 30rem;

			margin-inline: auto;
		}

		@include ab.screen-75 {
			flex-direction: row;
		}

		.contributors-list {
			display: flex;
			flex-direction: column;
			gap: 1em;

			@include ab.screen-40 {
				flex-direction: row;
				flex-wrap: wrap;
				gap: 1.5em;
				justify-content: center;
			}

			&__profile {
				background-color: ab.$background-dark2;
				border-radius: 0.8em;

				padding-inline: 1em;
				padding-block: 1.4em;

				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1.4em;

				img {
					aspect-ratio: 1 /1;
					width: 15rem;
					object-fit: cover;
					border-radius: 50%;
				}

				&-name {
					cursor: pointer;

					text-decoration: underline transparent;
					transition: text-decoration 0.3s ease-in, color 0.3s ease-in-out;

					&:hover {
						text-decoration-color: ab.$text-golden;
						color: ab.$text-golden;
					}
				}
			}
		}
	}
}
