@use "../../abstracts" as ab;

.sponsors {
	width: min(90%, 80rem);
	margin-inline: auto;
	margin-top: 5em;

	display: flex;
	// animation: scrolling 10s linear infinite;
	// flex-wrap: wrap;
	// align-items: center;
	// justify-content: center;
	// gap: 1em;

	overflow-x: hidden;

	.marquee {
		animation: scrolling 10s linear infinite;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1em;
	}

	&-item {
		flex: 0 0 16vw;
		// animation: scrolling 10s linear infinite;

		&.ens {
			div {
				display: flex;
				gap: 0.5em;
				margin-inline: auto;
				justify-content: center;
			}
			img {
				width: 3rem;
				margin-inline: 0;
			}
		}

		img {
			margin-inline: auto;
			width: 13rem;
		}
	}

	// @include ab.screen-40 {
	// 	gap: 1.5em;
	// }

	// &-logo {
	// 	outline: 0.15em solid ab.$text-golden;
	// 	border-radius: 1em;
	// 	width: min(90%, 40rem);

	// 	margin-inline: auto;
	// 	padding-inline: 1em;
	// 	padding-block: 1em;

	// 	display: flex;

	// 	position: relative;
	// 	overflow: hidden;

	// 	img {
	// 		width: min(42%, 15rem);
	// 		margin-inline: auto;
	// 	}

	// 	&__seperator {
	// 		position: absolute;
	// 		left: 50%;
	// 		top: 50%;
	// 		transform: translate(-50%, -50%);

	// 		width: 0.15em;
	// 		height: 10rem;

	// 		background-color: ab.$text-golden;
	// 	}
	// }

	// &-text {
	// 	width: min(90%, 40rem);

	// 	margin-inline: auto;

	// 	&__p {
	// 		font-size: 1.1rem;
	// 		font-weight: 500;
	// 		text-transform: capitalize;
	// 	}
	// }
}

@keyframes scrolling {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translatex(-100vw);
	}
}
